## --- DOTNET / VISUAL STUDIO / RIDER ---
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.suo
*.sln.docstates
.vs/

## --- RIDER SPECIFIC ---
.idea/
*.sln.iml

## --- VS CODE SPECIFIC ---
.vscode/
.history/

## --- MACOS SPECIFIC ---
.DS_Store
.AppleDouble
.LSOverride
._*

## --- BUILD ARTIFACTS ---
*.exe
*.dll
*.pdb
*.nupkg
*.log

## --- USER SPECIFIC ENV ---
*.env
*.rsuser